@font-face { 
  font-family: 'Roboto Regular'; 
  src: url('../fonts/montserrat-regular.woff2') format('woff2'), 
       url('../fonts/montserrat-regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('../fonts/montserrat-regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap;
}
@font-face { 
  font-family: 'Roboto Light'; 
  src: url('../fonts/montserrat-regular.woff2') format('woff2'), 
       url('../fonts/montserrat-regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('../fonts/montserrat-regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap;
}
@font-face { 
  font-family: 'Roboto Bold'; 
  src: url('../fonts/montserrat-regular.woff2') format('woff2'), 
       url('../fonts/montserrat-regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('../fonts/montserrat-regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap;
}